$background: #f5f5f5;
$card-width: 140px;
$card-height: 190px;
$spritesheet-w: 1024px;
$spritesheet-h: 2048px;

body {
  background: $background;
  font-size: 18px;
  font-family: 'Fira Sans', sans-serif;
}

*, *::before, *::after {
  box-sizing: border-box;
}

.game-container {
  background: darkgreen;
  position: relative;
  width: 80vw;
  height: 60vw;
}

.card {
  background-image: url("/playingCards.png");
  background-size: (100% * $spritesheet-w / $card-width)
                   (100% * $spritesheet-h / $card-height);
  padding-bottom: 100% * $card-height / $card-width;
}

.tableau {
  display: flex;
  flex-direction: row;
  height: 70%;
  width: 100%;
  justify-content: space-evenly;
}

.cascade {
  display: flex;
  flex-direction: column;
  max-width: 10%;
  width: 100%;
  height: auto;
}

.cascade .card-wrapper {
  flex-shrink: 1;
  flex-basis: 30px;
  overflow-y: hidden;
  width: 100%;
  height: auto;
}

.cascade .card-wrapper:last-child {
  flex-basis: auto;
  flex-shrink: 0;
}
            
.card:hover {
  background-image: 
    linear-gradient(#bada55a0, #c0ffeea0), url("/playingCards.png");
}

@each $idx in (0, 1, 2, 3, 4, 5) {
  .col-#{$idx} {
    background-position-x: 100% * $idx * ($card-width / ($spritesheet-w - $card-width));
  }
}

@each $idx in (0, 1, 2, 3, 4, 5, 6, 7, 8, 9) {
  .row-#{$idx} {
    background-position-y: 100% * $idx * ($card-height / ($spritesheet-h - $card-height));
  }
}

.top {
  display: flex;
  flex-direction: row;
  height: 20%;
}

.foundations,
.cells {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.foundation,
.cell {
  border: 5px solid darkred;
  border-radius: 10px;
  width: 20px;
  height: 30px;
}
