$background: #f5f5f5;
$card-width: 140px;
$card-height: 190px;

body {
  background: $background;
}

*, *::before, *::after {
  box-sizing: border-box;
}

.game-container {
  background: darkgreen;
  position: relative;
  width: 800px;
  height: 600px;
}

.card {
  background-image: url("/playingCards.png");
  width: $card-width;
  height: $card-height;
  transform-origin: top left;
  scale: 60%;
}

.card:hover {
  background-image: linear-gradient(orange, blue);
}

@each $idx in (0, 1, 2, 3, 4, 5) {
  .col-#{$idx} {
    background-position-x: $idx * -$card-width;
  }
}

@each $idx in (0, 1, 2, 3, 4, 5, 6, 7, 8, 9) {
  .row-#{$idx} {
    background-position-y: $idx * -$card-height;
  }
}
